
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^kbest\.ca$ [OR]
RewriteCond %{HTTP_HOST} ^www\.kbest\.ca$
RewriteRule ^/?$ "https\:\/\/kbest\.ca\/" [R=301,L]

