
/*             -------------------- General CSS -------------------------                 */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: white;
	margin: 0;
	align-items: center;
	justify-content: center;
	text-align: center;
}

h1 {
	font-family: 'Limelight', Impact, fantasy;
	font-size: 400%;
	color: #708C00;
	line-height: 90%;
	padding: 20px;
	margin: 0px;
}

h2 {
	color: darkgrey;
	font-family: 'Josefin Slab', serif;
	font-style: italic;
	font-size: 1.5em;
}

h3 {
	font-family: 'Josefin Slab', serif;
	font-weight: bolder;
	font-size: 2em;
}

h4 {
	color: darkgrey;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

h5 {
	color: grey;
	font-style: italic;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

a {
	text-decoration: none;
}

p {
	font-size: 1.5em;
	color: #161616;
	padding: 7.5px;
	margin: 0px;
}

hr {
	padding: 0;
	border: 0;
	margin: 0;
	line-height: 50%;
	size: 1px;
	border-top: 1px solid darkgrey;
	width: 50%;
}

video {
	max-width: 900px;
}

/*     ------------------------           Specific CSS           ---------------------------     */

div.portfolio-sizes {
	max-width: max-content;
	display: inline-flex;
}

div.portfolio-sides {
	max-width: 900px;
}

img.portfolio-piece {
	width: 100%;
	max-width: 900px;
	object-fit: scale-down;
	display: block;
	flex-grow: 1;
	flex-shrink: 1;
	padding: 10px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

/*                                        ------------ NAV BAR START! ------------ */


#header {
	position: sticky;
	top: 0;
	color: #708C00;
	background-color: white;
	z-index: 10;
	border: none;
	padding: none;
	padding-top: 10px;
	margin: none;
	border-bottom: 2px solid #161616;
}

#logo-text {
	font-family: 'Limelight', Impact, fantasy;
	font-size: 1em;
}

#logo {
	height: 140px;
	width: 140px;
}

img#logo {
	width: inherit;
}

.centered {
  position: inherit;
  transform: translate(-7%, -265%);
  font-family: Impact, fantasy;
  font-size: 1.1em;
}

nav {
	display: flex;
	justify-content: space-around;
}

#full-navbar {
	width: 100%;
}

.nav-style {
	font-size: 200%;
	font-family: 'Limelight', Impact, fantasy;
	margin: 0px;
	width: 100%;
	border: none;
	color: #161616;
	background-color: white;
}

.navbar-text {
	flex-grow: 1;
	text-align: center;
	background-color: white;
}

.nav-style:hover {
	background-color: #EFFFAD;
	color: #BADA58;
	transition: .3s;
	transition-timing-function: ease-in-out;
}

#navbar-placeholder {
	width: 15%;
}

/*																	------------------DROPDOWN MENU --------------------------- */

#menubutton {
	border: none;
}

#dropdown-button {
	position: relative;
	display: inline-block;
}

.dropdown-contents {
	display: none;
	position: absolute;
	background-color: #ffffff;
	width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-contents a {
	font-size: 150%;
	font-family: 'Josefin Slab', serif;
	font-weight: bold;
	background-color: #f0f0f0;
	color: #161616;
	text-align: center;
	text-decoration: none;
	display: block;
	padding: 10px;
}

#dropdown-button:hover .dropdown-contents {
		display: block;
}

#dropdown-button:hover ~ #dropdown-button {
	background-color: #EFFFAD;
	color: #BADA58;
	transition: .3s;
	transition-timing-function: ease-in-out;
}

.dropdown-contents a:hover {
	background-color: #EFFFAD;
	color: #BADA58;
	transition: .3s;
	transition-timing-function: ease-in-out;
}

/*                                      ---------- SITE BODY CONTENTS ----------*/

#full-contents {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.portfolio-page {
	width: 100%;
	object-fit: scale-down;
}

/*                                       ------------- ABOUT ------------- */

#full-contents-about {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex-direction: row;
}

.text-contents-about{
	align-items: center;
	justify-content: center;
	max-width: 50%;
	padding: 50px;
}

.img-contents-about{
    max-width: 50%;
    flex-shrink: 1;
	text-align: center;
	padding: 30px;
}

.img-contents-about img {
	max-width: 400px;
	padding: 50px;
}

.img-style {
	margin: 20px;
	border: none;
	background-color: white;
}

.img-style:hover {
	border: none;
	background-color: white;
}

.previews {
	padding-top: 10px;
}

img.thumbs {
	align-content: center;
	height: 350px;
	width: 350px;
	opacity: .65;
	border: 0px solid white;
	border-radius: 50%;
	transition: .1s;
	transition-timing-function: ease-in-out;
	box-sizing: border-box;
}

img.thumbs:hover {
	opacity: 1;
	border: 0px solid white;
	border-radius: 10%;
	box-sizing: border-box;
}

/*                             ---------------------- FOOTER ---------------------- */

.foot-credits {
	display: block;
	font-size: 100%;
	margin: 5px;
	padding: 5px;
	text-align: center;
	bottom: 0px;
}

.foot-credits img {
    max-width: 50px;
    max-height: 50px;
    margin: .35rem;
}

.foot-credits-intro {
    position: relative;
    bottom: -10vh;
}

/*----------									----------Rsponsive Viewsizes ----------                 ----------*/

@media (min-width: 1250px) {

	img.thumbs {
		align-content: center;
		height: 350px;
		width: 350px;
		opacity: .65;
		border: 0px solid white;
		border-radius: 50%;
		box-sizing: border-box;
		}

	#mobile-menu {
		display: none;
	}
}


@media (min-width: 1065px) and (max-width: 1251px) {

	img.thumbs {
		align-content: center;
		height: 300px;
		width: 300px;
		opacity: .65;
		border: 0px solid white;
		border-radius: 50%;
		box-sizing: border-box;
		}

	#mobile-menu {
			display: none;
		}
}

@media (min-width: 735px) and (max-width: 1066px) {
    
    #full-contents-about {
        flex-direction: column;
    }
    
    .text-contents-about{
    	max-width: 80%;
    	padding: 1em;
    }
    .img-contents-about {
        max-width: 80%;
    	padding: 1em;
    }
    
    .img-contents-about img {
    	max-width: 80%;
    	padding: 1em;
    }

	img.thumbs {
		align-content: center;
		height: 250px;
		width: 250px;
		opacity: .65;
		border: 0px solid white;
		border-radius: 50%;
		box-sizing: border-box;
		}

	#mobile-menu {
			display: none;
		}
}

@media (min-width: 650px) and (max-width: 736px) {
        
    #full-contents-about {
        flex-direction: column;
    }

    .text-contents-about{
    	max-width: 100%;
    	padding: 1em;
    }    
    
    .img-contents-about{
    	padding: 1em;
    }
    
    .img-contents-about img {
    	max-width: 80%;
    	padding: 1em;
    }
    
	img.thumbs {
		align-content: center;
		height: 250px;
		width: 250px;
		opacity: .65;
		border: 0px solid white;
		border-radius: 50%;
		box-sizing: border-box;
		}

	#full-navbar {
			display: none;
		}
}

@media (max-width: 651px) {
        
    #full-contents-about {
        flex-direction: column;
    }
    
    .text-contents-about{
    	max-width: 100%;
    	padding: 1em;
    }

    .img-contents-about{
    	padding: 1em;
    	max-width: 100%;
    }
    
    .img-contents-about img {
    	max-width: 90%;
    	padding: 2.5em;
    }

	img.thumbs {
		align-content: center;
		height: 400px;
		width: 400px;
		opacity: .65;
		border: 0px solid white;
		border-radius: 50%;
		box-sizing: border-box;
		}


	#full-navbar {
			display: none;
		}
}